@import "../../../styles.scss";

.home-parent {
  .our-services {
    padding: 100px 0px;
    .row {
      @include flexCenter();
    }
    h2 {
      text-align: center;
      font-size: 5vw;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.836);
      opacity: 0.2;
    }
    h4 {
      font-size: 3vw;
      max-width: 80%;
    }

    p {
      font-size: 3.5vh;
      span {
        filter: invert(100%);
        padding-left: 8px;
      }
    }
    ul {
      li {
        color: #fff;
        border-top: none;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid #9c9c9c;
          color: #9c9c9c;
        }
      }
      .show {
        text-align: end;
        border: 0;
        position: absolute;
        right: 0;
        /* top: 0px; */
        bottom: 30%;
        img {
          width: 20%;
        }
      }
      .img-hover {
        display: none;
      }
      .img-hover .show-img {
        display: block;
      }
    }
  }

  .portfolio {
    padding: 50px 0px;
    background: $priamryColor;
    background-image: url(../../../assets/img/pattern.png);
    @include backgroun-image();
    .row {
      @include flexCenter();
    }
    .title {
      padding: 20px;
      h2 {
        text-align: center;
        font-size: 5vw;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: 1px rgba(129, 101, 101, 0.836);
        opacity: 0.2;
      }
      h3 {
        text-align: center;
        font-size: 4vw;
        font-weight: 700;
        margin-top: -85px;
      }
    }
    .grid {
      position: relative;
      margin: 0 auto;
      padding: 1em 0 4em;
      list-style: none;
      text-align: center;
      .effect-sadie {
        max-width: 100%;
        max-height: 345px;  
      }
      figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
      }
      img {
        position: relative;
        display: block;
        opacity: 0.8;
      }

      figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      h2 {
        word-spacing: -0.15em;
        font-weight: 300;
        margin: 0;
        padding: 20px;
      }

      p {
        margin: 0;
        letter-spacing: 1px;
        font-size: 68.5%;
        font-weight: 600;
      }
    }

    .grid figure figcaption::before,
    .grid figure figcaption::after {
      pointer-events: none;
    }

    .grid figure figcaption,
    .grid figure figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    .grid figure figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
    }

    figure.effect-sadie figcaption::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
      background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
      content: "";
      opacity: 0;
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
    }

    figure.effect-sadie h2 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      color: #ffffff;
      -webkit-transition: -webkit-transform 0.35s, color 0.35s;
      transition: transform 0.35s, color 0.35s;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }

    figure.effect-sadie figcaption::before,
    figure.effect-sadie p {
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
    }

    figure.effect-sadie p {
      position: absolute;
      bottom: 10px;
      left: 25%;
      padding: 0.9em;
      width: 50%;
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }

    figure.effect-sadie:hover h2 {
      color: #fff;
      -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
      transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    }

    figure.effect-sadie:hover figcaption::before,
    figure.effect-sadie:hover p {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .about-us {
    background: $priamryColor;

    padding: 100px 0px;
    .row {
      @include flexCenter();
    }
    h2 {
      text-align: center;
      font-size: 5vw;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.836);
      opacity: 0.2;
    }
    h3 {
      text-align: center;
      font-size: 4vw;
      font-weight: 700;
      margin-top: -85px;
    }
    p {
      text-align: center;
    }

    .btn {
      @include flexCenter();
    }
  }
}



* {
  user-select: none;
}


// arrow down

.scroll-down {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll {
  width: 2rem;
  height: 4rem;
  border: 2px solid var(--white);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll span {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  background: var(--white);
  border-radius: 50%;
  animation: cursor-slide 1.15s linear infinite;
}

.arrow-down {
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid transparent;
  border-right-color: var(--white);
  border-bottom-color: var(--white);
  transform: rotate(45deg);
  margin-top: 0.3rem;
  animation: arrow-pulse 1.15s linear infinite;
}

/* Keyframes */

@keyframes cursor-slide {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow-pulse {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}




.over-lay {
  background: linear-gradient(to bottom, #11141bad, $mainColor);
  position: absolute;
  height: 100vh;
  width: 100%;
}
.glitch-parent {
  background: rgb(10, 10, 10);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(".//../../../assets/img/glitch.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

.glitch {
  color: #fff;
  position: relative;
  width: min-content;
  margin: 17% auto 0;
  padding: 15px 16px 10px 10px;
  color: transparent;
  font-family: "El Messiri", sans-serif;
  font-size: 10vw;
  font-weight: bolder;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.836) !important;
}
@keyframes noise-anim {
  0% {
    clip: rect(112px, 9999px, 198px, 0);
  }
  5% {
    clip: rect(129px, 9999px, 187px, 0);
  }
  10% {
    clip: rect(124px, 9999px, 154px, 0);
  }
  15% {
    clip: rect(116px, 9999px, 16px, 0);
  }
  20% {
    clip: rect(199px, 9999px, 137px, 0);
  }
  25% {
    clip: rect(175px, 9999px, 148px, 0);
  }
  30% {
    clip: rect(18px, 9999px, 188px, 0);
  }
  35% {
    clip: rect(11px, 9999px, 150px, 0);
  }
  40% {
    clip: rect(131px, 9999px, 154px, 0);
  }
  45% {
    clip: rect(195px, 9999px, 186px, 0);
  }
  50% {
    clip: rect(133px, 9999px, 155px, 0);
  }
  55% {
    clip: rect(146px, 9999px, 152px, 0);
  }
  60% {
    clip: rect(198px, 9999px, 175px, 0);
  }
  65% {
    clip: rect(13px, 9999px, 12px, 0);
  }
  70% {
    clip: rect(187px, 9999px, 136px, 0);
  }
  75% {
    clip: rect(149px, 9999px, 174px, 0);
  }
  80% {
    clip: rect(121px, 9999px, 19px, 0);
  }
  85% {
    clip: rect(122px, 9999px, 16px, 0);
  }
  90% {
    clip: rect(100px, 9999px, 195px, 0);
  }
  95% {
    clip: rect(157px, 9999px, 119px, 0);
  }
  100% {
    clip: rect(125px, 9999px, 162px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  font-family: "El Messiri", sans-serif;
  position: absolute;
  left: 3px;
  text-shadow: -1px 0 #f00;
  top: 0;
  color: #fff;
  background: $priamryColor;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 5s infinite linear alternate-reverse;
  padding: 15px 10px 10px;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(143px, 9999px, 12px, 0);
  }
  5% {
    clip: rect(175px, 9999px, 118px, 0);
  }
  10% {
    clip: rect(183px, 9999px, 134px, 0);
  }
  15% {
    clip: rect(19px, 9999px, 191px, 0);
  }
  20% {
    clip: rect(159px, 9999px, 166px, 0);
  }
  25% {
    clip: rect(199px, 9999px, 13px, 0);
  }
  30% {
    clip: rect(168px, 9999px, 111px, 0);
  }
  35% {
    clip: rect(167px, 9999px, 147px, 0);
  }
  40% {
    clip: rect(175px, 9999px, 113px, 0);
  }
  45% {
    clip: rect(152px, 9999px, 122px, 0);
  }
  50% {
    clip: rect(136px, 9999px, 158px, 0);
  }
  55% {
    clip: rect(124px, 9999px, 196px, 0);
  }
  60% {
    clip: rect(198px, 9999px, 15px, 0);
  }
  65% {
    clip: rect(128px, 9999px, 179px, 0);
  }
  70% {
    clip: rect(156px, 9999px, 197px, 0);
  }
  75% {
    clip: rect(186px, 9999px, 116px, 0);
  }
  80% {
    clip: rect(180px, 9999px, 14px, 0);
  }
  85% {
    clip: rect(114px, 9999px, 137px, 0);
  }
  90% {
    clip: rect(111px, 9999px, 147px, 0);
  }
  95% {
    clip: rect(131px, 9999px, 139px, 0);
  }
  100% {
    clip: rect(143px, 9999px, 159px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 0px;
  text-shadow: 1px 0 #00f;
  top: 0;
  color: $btnColor;
  background: $priamryColor;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 6s infinite linear alternate-reverse;
  padding: 15px 10px 10px;
}


// section responsice

@media only screen and (max-width: 768px) {
  .our-services {
    padding: 15px !important;
  }

  .about-us {
    padding: 75px 15px !important;
    h3 {
      margin-top: 55px !important;
    }
  }
  .glitch {
    font-size: 10vw !important;

  }
}

@media only screen and (max-width: 1024px) {
}