<app-header></app-header>
<div class="blogs-details">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="primary-blog">
                    <img src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                        alt="">
                    <h2 class="card-title">
                        Card Title </h2>
                    <h5>
                        11 March 2020
                    </h5>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore a sapiente, vel
                        reprehenderit maiores aperiam suscipit quod earum recusandae porro distinctio rem. Accusamus
                        repudiandae minima cum soluta debitis! Unde non cupiditate in impedit aliquam?
                    </p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil repudiandae consequatur
                        tenetur fugiat tempora est libero veniam animi, magnam labore repellat dolores quo maxime
                        temporibus nisi vitae cupiditate ipsum! Quo blanditiis ipsa eum!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, labore. Labore magnam illum
                        velit quo similique tempora commodi dolorum neque! Dignissimos, quasi porro sunt beatae earum ea
                        ut illo quam?</p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore a sapiente, vel
                        reprehenderit maiores aperiam suscipit quod earum recusandae porro distinctio rem. Accusamus
                        repudiandae minima cum soluta debitis! Unde non cupiditate in impedit aliquam?

                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore a sapiente, vel
                        reprehenderit maiores aperiam suscipit quod earum recusandae porro distinctio rem. Accusamus
                        repudiandae minima cum soluta debitis! Unde non cupiditate in impedit aliquam?
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sec-blogs">
                    <img src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                        alt="">

                    <h4 class="card-title">
                        <a href="#">Card Title</a>
                    </h4>
                    <h6>
                        11 March 2020
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="sec-blogs">
                    <img src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                        alt="">

                    <h4 class="card-title">
                        <a href="#">Card Title</a>
                    </h4>
                    <h6>
                        11 March 2020
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-contact></app-footer-contact>


<app-footer></app-footer>