<app-header></app-header>
<div class="blogs-details">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="primary-blog">
                    <img src="../../../assets/img/blog-details.jpg" alt="">
                    <h2 class="card-title">
                        ماهي دراسة الجدوي؟ </h2>
                    <h5>
                        2021-1-28
                    </h5>
                    <p>
                        تُعد دراسة الجدوى مرحلة أولية لأي مشروع قبل البدء بتنفيذه؛ حيث تتضمن دراسة عناصر مُحددة للمشروع
                        لمعرفة إمكانية تطبيقه أم لا، حيث تشمل دراسة الجدوى تحديد الموارد اللازمة للمشروع وكميتها،
                        بالإضافة إلى الجدول الزمني لإنجاز المشروع، والتنبؤ بالتكلفة العامة للمشروع ومعدل العائد الذي
                        يُمكن أن يولّده، وتحديد مستوى الخبرات اللازم توافرها للتنفيذ، وتعرف أيضاً بأنها عملية يتم من
                        خلالها تقييم المشروع المُراد تحقيقه من جانب الربح والتقنية والتكلفة.


                    </p>
                    <h4><strong>مكوّنات دراسة الجدوى</strong></h4>
                    <p>تتكوّن دراسة الجدوى من عدّة مكوّنات يمكن تلخيصها على النحو التالي: <br><br>وصف للمشروع والأعمال:
                        حيث يتم وصف ماهية المنتج أو الخدمة المراد تقديمها. <br><br>جدوى السوق: يتمّ فيها دراسة وضع السوق
                        بين المتنافسين، بالإضافة إلى المبيعات والإقبال الشرائي المحتمل. <br><br>الجدوى الفنّية: يتمّ
                        فيها تحديد آلية ايصال المنتج بما فيه من موقع العمل، العمال والآليات المستخدمة في النقل.
                        <br><br>القدرة الماليّة: يتمّ فيها تحديد مصادر رأس المال والمقدار المتوقع احتياجه.
                        <br><br>الجدوى التنظيميّة: يتمّ فيها وضع الهيكل التنظيمي للمشروع والذي يحتوي على معلومات عن
                        مؤسّسي المشروع، ومهاراتهم المتوقع أن يساهموا فيها. <br><br>الأمور التسويقيّة: يتمّ فيها وضع آلية
                        تسويق المنتج وطريقة عرضه وطرحه في الأسواق. <br><br>الاستنتاجات: يتمّ من خلالها مناقشة التصورات
                        حول نجاح المشروع.
                    </p>

                    <h4><strong>أهمية دراسة الجدوى </strong></h4>

                    <p>
                        لدراسة الجدوى أهمية تبرز في جوانب عدة، وفيما يأتي بعض من هذه الجوانب: <br><br>توفير الفرص
                        البديلة والحلول: توفر دراسة الجدوى فرصاً للنجاح من خلال زيادة الإدراك حول الإمكانيات المُتاحة،
                        والحلول المبتكرة والجديدة، فمن خلال دراسة الجدوى يتم توفير فرص بديلة للأفكار غير القابلة للتطبيق
                        قبل العمل عليها وإهدار المال والوقت. <br><br>الشمولية: تَكمُن أهمية دراسة الجدوى في شموليتها،
                        حيث يتم من خلالها دراسة جميع الأمور بصورة مُوسَّعة؛ كدراسة حاجات العملاء، والمنافسة المتوقعة في
                        السوق، والمخاطر التي قد تواجه المشروع، والأرباح المتوقعة، والتكاليف وما إلى ذلك. <br><br>تحقيق
                        النجاح:
                        تُساهم دراسة الجدوى في زيادة احتمالية النجاح، من خلال الإجراءات التي يتم تطبيقها، والإجابة عن
                        التساؤلات، لمعرفة مدى احتمالية نجاح الفكرة التي يتم دراستها والاستمرار بها وتطويرها، أو إيجاد
                        فكرة أخرى عِوضاً عنها.
                    </p>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="sec-blogs">
                    <img src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                        alt="">

                    <h4 class="card-title">
                        <a href="#">Card Title</a>
                    </h4>
                    <h6>
                        11 March 2020
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="sec-blogs">
                    <img src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                        alt="">

                    <h4 class="card-title">
                        <a href="#">Card Title</a>
                    </h4>
                    <h6>
                        11 March 2020
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div> -->
        </div>
    </div>
</div>

<app-footer-contact></app-footer-contact>


<app-footer></app-footer>