<app-header></app-header>

<div class="container header">
    <div class="row justify-content-center">
        <div class="bactxt">
            <span translate>
                HEADER.ABOUT_IINK
            </span>
        </div>
        <div class="col-lg-9 col-md-11 static">
            <div class="capt mt-50">
                <div class="parlx" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                    <h2 class="custom-font" translate><span translate>HOME.ABOUT_TITLE1</span>HOME.ABOUT_TITLE2</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="who-we-are">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="htit sm-mb30">
                    <h4 translate>ABOUT.WHO_WE_ARE</h4>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1 col-md-8">
                <div class="text">
                    <p>To have/ hold a unique pioneering position in the field of feasibility studies through out the
                        diligent and creative work. Also for SOLUTIONS company of economical consultancy to be one of the
                        best companies that offers applicable and practical solutions, using highly creative
                        professional standerds. And to be the very first option for the investors who are looking for
                        both quality and honesty in this field, and for our services to be beyond the expectations of
                        our clients and to execute that by using the best expertise, modern methods and techniques.</p>
                </div>
            </div>

        </div>
        <h2 translate>ABOUT.OUR_SERVICES</h2>
        <div class="row mt-5">
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.FEASIBILITY_STUDY</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.FINANCAIL_CONSELLING</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.BUDGET_REVIW</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.DISCRETIONARY_BUDGET</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.FINANCIAL_STATEMENT</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="min-area sub-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img">
                    <div class="simpleParallax" style="overflow: hidden;"><img class="thumparallax-down"
                            src="../../../assets/img/vision.jpg" alt=""
                            style="transform: translate3d(0px, -11px, 0px) scale(1.1); will-change: transform; transition: transform 1s cubic-bezier(0, 0, 0, 1) 0s;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 valign">
                <div class="content">
                    <!-- <h3>About us</h3> -->
                    <ul class="feat">
                        <li class="wow fadeInUp">
                            <h6><span>1</span> Our Vision</h6>
                            <p>To have/ hold a unique pioneering position in the field of feasibility studies through
                                out the diligent and creative work.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <h6><span>2</span> Our Mission</h6>
                            <p>And for Arkan company of economical consultancy to be one of the best companies that
                                offers applicable and practical solutions, using highly creative professional standerds.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <h6><span>3</span> Our Goals</h6>
                            <p>to be the very first option for investors who are looking for both quality and honesty in
                                this field, and for our services to be beyond the expectations of our clients and to
                                execute that by using the best expertise, modern methods and techniques.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <h6><span>4</span> Why Us? </h6>
                            <p>As we seek to provide the right decision based on analytical methods in all aspects which
                                allow us to define the utility of the project/ investment.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer-contact></app-footer-contact>
<app-footer></app-footer>