<app-header></app-header>

<div class="container header" style="height: 65vh;">
    <div class="row justify-content-center">
        <div class="bactxt">
            <span translate>
                HEADER.ABOUT_IINK
            </span>
        </div>
        <div class="col-lg-9 col-md-11 static">
            <div class="capt mt-50">
                <div class="parlx" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                    <h2 class="custom-font" translate><span translate>HOME.ABOUT_TITLE1</span>HOME.ABOUT_TITLE2</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="who-we-are">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="htit sm-mb30">
                    <h4 translate>ABOUT.WHO_WE_ARE</h4>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1 col-md-8">
                <div class="text">
                    <p>To have/ hold a unique pioneering position in the field of feasibility studies through out the
                        diligent and creative work. Also for SOLUTIONS company of economical consultancy to be one of the
                        best companies that offers applicable and practical solutions, using highly creative
                        professional standerds. And to be the very first option for the investors who are looking for
                        both quality and honesty in this field, and for our services to be beyond the expectations of
                        our clients and to execute that by using the best expertise, modern methods and techniques.</p>
                </div>
            </div>

        </div>
        <h2 translate>ABOUT.OUR_SERVICES</h2>
        <div class="row mt-5">
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.FEASIBILITY_STUDY</h3>
                        <p translate>ABOUT.FS_DESC</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.FINANCAIL_CONSELLING</h3>
                        <P translate>ABOUT.FC_DESC</P>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.BUDGET_REVIW</h3>
                        <p translate>ABOUT.BR_DESC</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.DISCRETIONARY_BUDGET</h3>
                        <p translate>ABOUT.DF_DESC</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title" translate>HOME.FINANCIAL_STATEMENT</h3>
                        <p translate>ABOUT.PF_DESC</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="min-area sub-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img">
                    <div class="simpleParallax" style="overflow: hidden;"><img class="thumparallax-down"
                            src="../../../assets/img/vision.jpg" alt=""
                            style="transform: translate3d(0px, -11px, 0px) scale(1.1); will-change: transform; transition: transform 1s cubic-bezier(0, 0, 0, 1) 0s;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 valign">
                <div class="content">
                    <!-- <h3>About us</h3> -->
                    <ul class="feat">
                        <li class="wow fadeInUp">
                            <h5 translate><span>1</span>ABOUT.OUR_VISION_TITLE</h5>
                            <p translate>ABOUT.OUR_VISION_DESC</p>
                        </li>
                        <li class="wow fadeInUp">
                            <h5 translate><span>2</span>ABOUT.OUR_MISSION_TITLE</h5>
                            <p translate>ABOUT.OUR_MISSION_DESC</p>
                        </li>
                        <li class="wow fadeInUp">
                            <h5 translate><span>3</span>ABOUT.OUR_GOALS_TITLE</h5>
                            <p translate>ABOUT.OUR_GOALS_DESC</p>
                        </li>
                        <li class="wow fadeInUp">
                            <h5 translate><span>4</span>ABOUT.WHY_US_TITLE</h5>
                            <p translate>ABOUT.WHY_US_DESC</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer-contact></app-footer-contact>
<app-footer></app-footer>