<app-header></app-header>
<section class="blogs">
  <div class="container">
    <div class="row justify-content-center">
      <div class="bactxt">
        <span translate>
          BLOG.BLOG_TITLE1
        </span>
      </div>
      <div class="col-lg-9 col-md-11 static mb-5">
        <div class="capt mt-50">
          <div class="parlx" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
            <h2 class="custom-font" translate><span translate>BLOG.BLOG_TITLE2</span>BLOG.BLOG_TITLE3</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blogs-grid">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/img/blog.jpg" alt="">
            <div class="card-body">
              <h2 class="card-title">
                <a href="#">ماهي دراسة الجدوي؟ </a>
              </h2>
              <h5>
                2021-1-28
              </h5>
              <p>
                تُعد دراسة الجدوى مرحلة أولية لأي مشروع قبل البدء بتنفيذه؛ حيث تتضمن دراسة عناصر مُحددة للمشروع لمعرفة
                إمكانية تطبيقه أم لا... </p>
              <a routerLink="/blog/details">اقرأ المزيد</a>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</section>


<app-footer-contact></app-footer-contact>


<app-footer></app-footer>