<app-header></app-header>
<section class="blogs">
  <div class="container">
    <div class="row justify-content-center">
      <div class="bactxt">
        <span translate>
            BLOG.BLOG_TITLE1
        </span>
      </div>
      <div class="col-lg-9 col-md-11 static mb-5">
        <div class="capt mt-50">
          <div class="parlx" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
            <h2 class="custom-font" translate><span
                translate>BLOG.BLOG_TITLE2</span>BLOG.BLOG_TITLE3</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="blogs-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <div class="card">
                  <img src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                  <div class="card-body">
                      <h2 class="card-title">
                          <a href="#">Card Title</a>
                      </h2>
                      <h5>
                          11 March 2020 
                      </h5>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero eaque animi pariatur fugit excepturi, fuga delectus facere provident beatae.
                      </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
</section>


<app-footer-contact></app-footer-contact>


<app-footer></app-footer>