<app-header></app-header>
<section class="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="bactxt">
                <span translate>
                    CONTACT.CONTACT_TITLE1
                </span>
            </div>
            <div class="col-lg-9 col-md-11 static">
                <div class="capt mt-50">
                    <div class="parlx" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                        <h2 class="custom-font" translate><span
                                translate>CONTACT.CONTACT_TITLE2</span>CONTACT.CONTACT_TITLE3</h2>
                        <p translate>CONTACT.ASK_ME</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="form md-mb50">
                        <h4 class="extra-title mb-50" translate>CONTACT.GET_IN_TOUCH</h4>
                        <form id="contact-form" novalidate="true">
                            <div class="messages"></div>
                            <div class="controls">
                                <div class="form-group has-error has-danger">
                                    <input id="form_name" type="text" name="name"
                                        placeholder="{{'CONTACT.PLACEHOLDER_NAME' |translate}}" required="required">
                                </div>
                                <div class="form-group has-error has-danger">
                                    <input id="form_name" type="text" name="name"
                                        placeholder="{{'CONTACT.PLACEHOLDER_MOBILE' |translate}}" required="required">
                                </div>

                                <div class="form-group has-error has-danger">
                                    <input id="form_email" type="email" name="email"
                                        placeholder="{{'CONTACT.PLACEHOLDER_EMAIL' |translate}}" required="required">
                                </div>
                                <div class="form-group has-error has-danger">
                                <select class="form-control">
                                    <option value="">Choose...</option>
                                    <option translate>HOME.FEASIBILITY_STUDY</option>
                                    <option translate>HOME.FINANCAIL_CONSELLING</option>
                                    <option translate>HOME.BUDGET_REVIW</option>
                                    <option translate>HOME.DISCRETIONARY_BUDGET</option>
                                    <option translate>HOME.FINANCIAL_STATEMENT</option>
                                  </select>
                                </div>
                                <div class="form-group has-error has-danger">
                                    <textarea id="form_message" name="message"
                                        placeholder="{{'CONTACT.PLACEHOLDER_MESSAGE' |translate}}" rows="7"
                                        required="required"></textarea>
                                </div>
                                <button class="uk-button uk-button-default btn-praimry"
                                    translate>CONTACT.BTN_SEND_MESSAGE</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5 offset-lg-1">
                    <div class="cont-info">
                        <h4 class="extra-title mb-50" translate>CONTACT.CONTACT_INFO</h4>
                        <h3 class="custom-font wow words chars splitting animated" data-splitting=""
                            style="visibility: visible; --word-total:2; --char-total:10;"><span class="word"
                                data-word="Let's" style="--word-index:0;"><span class="char" data-char="L"
                                    style="--char-index:0;">L</span><span class="char" data-char="e"
                                    style="--char-index:1;">e</span><span class="char" data-char="t"
                                    style="--char-index:2;">t</span><span class="char" data-char="'"
                                    style="--char-index:3;">'</span><span class="char" data-char="s"
                                    style="--char-index:4;">s</span></span><span class="whitespace"> </span><span
                                class="word" data-word="Talk." style="--word-index:1;"><span class="char" data-char="T"
                                    style="--char-index:5;">T</span><span class="char" data-char="a"
                                    style="--char-index:6;">a</span><span class="char" data-char="l"
                                    style="--char-index:7;">l</span><span class="char" data-char="k"
                                    style="--char-index:8;">k</span><span class="char" data-char="."
                                    style="--char-index:9;">.</span></span> </h3>
                        <div class="item mb-40">
                            <h5><a href="#0">hello@solutions.com</a></h5>
                            <h5>(+02) 01016616578</h5>
                        </div>
                        <h3 class="custom-font wow words chars splitting animated" data-splitting=""
                            style="visibility: visible; --word-total:2; --char-total:8;"><span class="word"
                                data-word="Visit" style="--word-index:0;"><span class="char" data-char="V"
                                    style="--char-index:0;">V</span><span class="char" data-char="i"
                                    style="--char-index:1;">i</span><span class="char" data-char="s"
                                    style="--char-index:2;">s</span><span class="char" data-char="i"
                                    style="--char-index:3;">i</span><span class="char" data-char="t"
                                    style="--char-index:4;">t</span></span><span class="whitespace"> </span><span
                                class="word" data-word="Us." style="--word-index:1;"><span class="char" data-char="U"
                                    style="--char-index:5;">U</span><span class="char" data-char="s"
                                    style="--char-index:6;">s</span><span class="char" data-char="."
                                    style="--char-index:7;">.</span></span> </h3>
                        <div class="item">
                            <h6>495 Al Haram st,
                                <br>Giza, Egypt</h6>
                        </div>
                        <div class="social mt-50">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-pinterest"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<div class="loaction">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.751619966986!2d31.21099641506868!3d30.0152875818929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145846e104de61e7%3A0x1eb06bf260738c40!2s495%20Al%20Haram%2C%20Oula%2C%20Giza%20District%2C%20Giza%20Governorate!5e0!3m2!1sen!2seg!4v1602492174971!5m2!1sen!2seg"
        height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>
<div class="copyrights text-center">
    <p>©<a href="#0">SOLUTIONS 2020.</a></p>
</div>