<footer class="footer-sec sub-bg section-padding pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cont">
                    <div class="logo">
                        <a href="#0">
                            <img src="img/logo-light.png" alt="">
                        </a>
                    </div>
                    <div class="con-info custom-font">
                        <ul>
                            <li translate><span >{{'FOOTER.EMAIL' | translate  }} : </span> hello@solutions-eg.org</li>
                            <li translate><span >{{'FOOTER.ADDRESS' | translate  }} : </span> FOOTER.ADDRESS_DETAILS
                            </li>
                            <li><span >{{'FOOTER.PHONE' | translate  }} : </span> (+02) 01016616578 &nbsp;<i class="fab fa-whatsapp" style="color: #25d366d9; font-size: 20PX;"></i></li>
                        </ul>
                    </div>
                    <div class="social-icon">
                        <h6 class="custom-font stit simple-btn" translate>FOOTER.FOLLOW_US</h6>
                        <div class="social">
                            <a href="https://www.facebook.com/just.solutions.eg" class="icon" target="_blanck">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/sollutions_eg" class="icon" target="_blanck">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/just.solutions.eg/" class="icon" target="_blanck">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <!-- <a href="#0" class="icon">
                                <i class="fab fa-behance"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 contact-info">
                <div class="subscribe mb-50">
                    <h6 class="custom-font stit simple-btn" translate>FOOTER.NEWSLATTER</h6>
                    <p translate>FOOTER.SUBSCRIBE_NEWSLATTER</p>
                    <form #newsletterForm="ngForm" (ngSubmit)="onSubmit(newsletterForm.form)">
                        <div class="form-group custom-font">
                            <input   ngModel #email="ngModel"  type="email" name="email" placeholder="{{'FOOTER.PLACEHOLDER_EMAIL' | translate  }}">
                            <button [disabled]="!newsletterForm.valid" class="cursor-pointer" translate>FOOTER.SUBSCRIBE_BTN</button>
                        </div>
                    </form>
                </div>
                <!-- <div class="insta">
                    <h6 class="custom-font stit simple-btn">Instagram Post</h6>
                    <div class="insta-gallary">
                        <a href="#0">
                            <img src="img/insta/1.jpg" alt="">
                        </a>
                        <a href="#0">
                            <img src="img/insta/2.jpg" alt="">
                        </a>
                        <a href="#0">
                            <img src="img/insta/3.jpg" alt="">
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="copyrights text-center">
            <p>©<a href="#0">SOLUTIONS 2020.</a></p>
        </div>
    </div>
</footer>